{template common/header2}
<base href="."><link rel="stylesheet" type="text/css" href="./img_example_list_files/style_2_common.css"><link rel="stylesheet" type="text/css" href="./img_example_list_files/style_2_forum_forumdisplay.css"><script type="text/javascript">var STYLEID = '2', STATICURL = 'static/', IMGDIR = 'template/dean_getang/img', VERHASH = 'rXJ', charset = 'utf8', discuz_uid = '0', cookiepre = '9Amz_2132_', cookiedomain = '', cookiepath = '/', showusercard = '1', attackevasive = '0', disallowfloat = 'newthread', creditnotice = '1|威望|,2|金钱|,3|贡献|', defaultstyle = '', REPORTURL = 'aHR0cDovL3d3dy5ndHpzLmNvbS9mb3J1bS00LTEuaHRtbA==', SITEURL = 'http://www.gtzs.com/', JSPATH = 'data/cache/', CSSPATH = 'data/cache/style_', DYNAMICURL = '';</script>

<div class="clear"></div>
<div class="wp"><div id="scbar" class="scbar_narrow cl">
    <form id="scbar_form" method="post" autocomplete="off" onsubmit="searchFocus($(&#39;scbar_txt&#39;))" action="http://www.gtzs.com/search.php?searchsubmit=yes" target="_blank">
        <input type="hidden" name="mod" id="scbar_mod" value="forum">
        <input type="hidden" name="formhash" value="844b80cc">
        <input type="hidden" name="srchtype" value="title">
        <input type="hidden" name="srhfid" value="4">
        <input type="hidden" name="srhlocality" value="forum::forumdisplay">
        <table cellspacing="0" cellpadding="0">
            <tbody><tr>
                <td class="scbar_icon_td"></td>
                <td class="scbar_txt_td"><input type="text" name="srchtxt" id="scbar_txt" value="请输入搜索内容" autocomplete="off" x-webkit-speech="" speech="" class=" xg1" placeholder="请输入搜索内容"></td>
                <td class="scbar_type_td"><a href="javascript:;" id="scbar_type" class="xg1" onclick="showMenu(this.id)" hidefocus="true">帖子</a></td>
                <td class="scbar_btn_td"><button type="submit" name="searchsubmit" id="scbar_btn" sc="1" class="pn pnc" value="true"><strong class="xi2">搜索</strong></button></td>
                <td class="scbar_hot_td">
                    <div id="scbar_hot">
                        <strong class="xw1">热搜: </strong>

                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%D4%C2%C1%C1%CD%E5&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">月亮湾</a>



                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%D6%D0%D1%EB%B9%AB%D4%B0&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">中央公园</a>



                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%BD%F0%BA%D3%CD%E5&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">金河湾</a>



                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%D1%F4%B9%E2%CB%AE%B0%B6&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">阳光水岸</a>



                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%B7%E3%B5%A4%B0%D7%C2%B6&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">枫丹白露</a>



                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%B4%BA%BD%AD%D4%C2&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">春江月</a>



                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%CE%AC%B6%E0%C0%FB%D1%C7&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">维多利亚</a>



                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%D0%D2%B8%A3%BC%D2%D4%B0&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">幸福家园</a>



                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%D0%C2%BA%FE%BE%B0%B3%C7&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">新湖景城</a>



                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%D0%C2%BA%FE%C3%B5%B9%E5%D4%B0&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">新湖玫瑰园</a>



                        <a href="http://www.gtzs.com/search.php?mod=forum&srchtxt=%F6%CE%B8%DB%C9%D0%B3%C7&formhash=844b80cc&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">鑫港尚城</a>

                    </div>
                </td>
            </tr>
            </tbody></table>
    </form>
</div>
    <ul id="scbar_type_menu" class="p_pop" style="display: none;"><li><a href="javascript:;" rel="curforum" fid="4">本版</a></li><li><a href="javascript:;" rel="article">文章</a></li><li><a href="javascript:;" rel="forum" class="curtype">帖子</a></li><li><a href="javascript:;" rel="user">用户</a></li></ul>
    <script type="text/javascript">
        initSearchmenu('scbar', '');
    </script>
</div>
<div class="clear"></div>
<div id="wp" class="wp">
    <style id="diy_style" type="text/css"></style>
    <!--[diy=diynavtop]--><div id="diynavtop" class="area"></div><!--[/diy]-->
    <div id="pt" class="bm cl">
        <div class="z">
            <a href="http://www.gtzs.com/" title="返回网站首页" class="font6">当前位置: </a><em>&#187;</em><a href="http://www.gtzs.com/forum.php">社区</a> <em>&#8250;</em> <a href="http://www.gtzs.com/forum.php?gid=1">格堂装修</a><em>&#8250;</em> <a href="./img_example_list_files/衢州装修案例-格堂装修案例 - 衢州格堂装饰.html">完工案例</a> <a href="http://www.gtzs.com/forum.php?mod=rss&fid=4&auth=0" class="fa_rss" target="_blank" title="订阅"></a></div>
        <div class="y" style="padding-left:10px;">
            排名: <strong class="xi1" title="上次排名:3">3</strong><b class="ico_increase">&nbsp;</b></div>
    </div><div class="wp">
    <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
    <div class="boardnav">
        <div id="ct" class="wp cl ">
            <style type="text/css">
                .deanleftdiv{ width:200px; float:left; background:#f4f4f4; padding-top:15px; }
                .deanleftdivc{ width:180px; margin:0 10px;}
                .deantwhot{}
                .deantwhot h2{ height:30px; line-height:30px; border-bottom:1px solid #ddd; font-size:14px; color:#333; font-weight:600;}
                .deantwhot ul{}
                .deantwhot ul li{ margin-top:10px;}
                .deantwhot ul li .deantwhotl{ float:left; width:60px; height:60px;}
                .deantwhot ul li .deantwhotr{ float:right; width:110px; height:60px;}
                .deantwhotr h3{ font-size:12px; font-weight:600;}
                .deantwhotr h3 a{ color:#5b5c5c;}
                .deantwhots{ color:#999; margin-top:3px;}
                /*热点排行*/
                .deanranklist{ margin-top:15px;}
                .deanranklist h2{height:30px; line-height:30px; border-bottom:1px solid #ddd; font-size:14px; color:#333; font-weight:600;}
                .deanranklist ul{}
                .deanranklist ul li{ height:32px; line-height:32px; font-size:12px;}
                .deanranklist ul li span{ float:left; color:#666; font-weight:600; padding-right:5px;}
                .deanranklist ul li a{ float:left; color:#666;}
                .deanranklist ul li.deangreen span{ color:#9C3;}
                /*nums*/
                .deannums{ width:180px; height:40px; background:url(./template/dean_getang/deancss/comiis_kmlb_tjbg.gif) 0 0 no-repeat; text-align:center;}
                .deannumsc{ margin:0 auto; padding-top:12px;}

                .ico_increase, .ico_fall{ background:none;}
                .deanh2{ font-size:18px; padding:10px;}
            </style>
            {template common/left2}

            <div class="mn ounq" style="width:974px; padding-left:15px; padding-right:10px; overflow:hidden; border-left:1px solid #ebebeb; float:right; background:#fff;">
                <!--[diy=comiis_ltopad]--><div id="comiis_ltopad" class="area"></div><!--[/diy]-->
                <div class="clear"></div>
                <div class="deanh20" style="height:20px; width:100px;">&nbsp;</div>
                <div class="clear"></div>
                <div class="drag">
                    <!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
                </div>
                <div id="pgt" class="bm bw0 pgs cl">
                    <span id="fd_page_top"><div class="pg"><strong>1</strong><a href="http://www.gtzs.com/forum-4-2.html">2</a><a href="http://www.gtzs.com/forum-4-3.html">3</a><a href="http://www.gtzs.com/forum-4-4.html">4</a><a href="http://www.gtzs.com/forum-4-5.html">5</a><a href="http://www.gtzs.com/forum-4-6.html">6</a><a href="http://www.gtzs.com/forum-4-7.html">7</a><a href="http://www.gtzs.com/forum-4-8.html">8</a><a href="http://www.gtzs.com/forum-4-9.html">9</a><label><input type="text" name="custompage" class="px" size="2" title="输入页码，按回车快速跳转" value="1" onkeydown="if(event.keyCode==13) {window.location=&#39;forum.php?mod=forumdisplay&amp;fid=4&amp;page=&#39;+this.value;; doane(event);}"><span title="共 9 页"> / 9 页</span></label><a href="http://www.gtzs.com/forum-4-2.html" class="nxt">下一页</a></div></span>
                    <span class="pgb y" id="visitedforums" onmouseover="$(&#39;visitedforums&#39;).id = &#39;visitedforumstmp&#39;;this.id = &#39;visitedforums&#39;;showMenu({&#39;ctrlid&#39;:this.id,&#39;pos&#39;:&#39;34&#39;})" initialized="true"><a href="http://www.gtzs.com/forum.php">返&nbsp;回</a></span>
                    <a href="javascript:;" id="newspecial" onmouseover="$(&#39;newspecial&#39;).id = &#39;newspecialtmp&#39;;this.id = &#39;newspecial&#39;;showMenu({&#39;ctrlid&#39;:this.id})" onclick="location.href=&#39;forum.php?mod=post&amp;action=newthread&amp;fid=4&#39;;return false;" title="发新帖"><img src="./img_example_list_files/pn_post.png" alt="发新帖"></a>
                </div>
                <div class="comiis_kmlb_tabfl">
                    <div class="comiis_ltype">
                        <a href="./img_example_list_files/衢州装修案例-格堂装修案例 - 衢州格堂装饰.html" class="comiis_ltype_an kmbtn">帖子<em>◆</em></a>
                        <a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=digest&digest=1" class="comiis_ltype_an">精华</a>
                        <a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=hot" class="comiis_ltype_an">热帖</a>
                    </div>
                    <div class="comiis_kmlb_ss">
                        <form id="scform" method="post" autocomplete="off" action="http://www.gtzs.com/search.php?searchsubmit=yes" target="_blank">
                            <input type="hidden" name="formhash" value="844b80cc">
                            <input type="hidden" name="mod" value="forum">
                            <input type="hidden" name="srchfid[]" value="4">
                            <input type="text" name="srchtxt" id="srchtxt" class="px z" autocomplete="off" onblur="if (value ==&#39;&#39;){value=&#39;请输入搜索关键词&#39;}" onfocus="if (value ==&#39;请输入搜索关键词&#39;){value =&#39;&#39;}" value="请输入搜索关键词">
                            <button id="search_submit" name="searchsubmit" type="submit" value="true">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </form>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <ul id="thread_types" class="cl comiis_types cttp" style="height: auto;"><li class="fold">收起</li>
                    <div class="comiis_types_mz">主题分类：</div>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=3">金河湾<span class="xg1 num">11</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=4">枫丹白露<span class="xg1 num">5</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=6">幸福家园<span class="xg1 num">6</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=9">春江月<span class="xg1 num">2</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=10">兰馨苑<span class="xg1 num">6</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=11">新湖景城<span class="xg1 num">2</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=12">阳光水岸<span class="xg1 num">9</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=13">望江美寓<span class="xg1 num">2</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=14">新湖玫瑰园<span class="xg1 num">4</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=15">维多利亚<span class="xg1 num">5</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=16">西江月<span class="xg1 num">3</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=17">乐业景观<span class="xg1 num">3</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=18">玉龙湾<span class="xg1 num">2</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=19">衢州花园<span class="xg1 num">2</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=21">碧桂园<span class="xg1 num">1</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=22">雍景柯苑<span class="xg1 num">1</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=23">天和家园<span class="xg1 num">1</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=24">望江苑<span class="xg1 num">1</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=25">世纪锋尚<span class="xg1 num">1</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=26">中央郡<span class="xg1 num">4</span></a></li>
                    <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=typeid&typeid=20">工装<span class="xg1 num">5</span></a></li>
                </ul>
                <script type="text/javascript">showTypes('thread_types');</script>
                <div id="threadlist" class="tl">
                    <div class="th comiis_topinfo">
                        <table cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <th colspan="2">
                                    <div class="tf">
                                        <span id="atarget" onclick="setatarget(1)" class="y" title="在新窗口中打开帖子">新窗</span>
                                        <a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&orderby=lastpost&filter=dateline" class="xw1">全部时间</a><span class="pipe">|</span>
                                        <a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&orderby=lastpost&filter=dateline&dateline=86400">一天</a><span class="pipe">|</span>
                                        <a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&orderby=lastpost&filter=dateline&dateline=604800">一周</a><span class="pipe">|</span>
                                        <a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&orderby=lastpost&filter=dateline&dateline=2592000">一个月</a><span class="pipe">|</span>
                                        <a id="filter_special" href="javascript:;" class="showmenu xi2" onclick="showMenu(this.id)">全部主题</a>&nbsp;
                                        <a id="filter_orderby" href="javascript:;" class="showmenu xi2" onclick="showMenu(this.id)">
                                            最后发表</a>
<span id="clearstickthread" style="display: none;">
<span class="pipe">|</span>
<a href="javascript:;" onclick="clearStickThread()" class="xi2" title="显示置顶">显示置顶</a>
</span>
                                    </div>
                                </th>
                                <td class="by" colspan="3">
                                    <a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&forumdefstyle=yes" class="chked" title="图片模式浏览帖子">图片模式</a>
                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                    <div class="bm_c" style="padding:0px 0px 0px 12px;">
                        <div id="forumnew" style="display:none"></div>
                        <form method="post" autocomplete="off" name="moderate" id="moderate" action="http://www.gtzs.com/forum.php?mod=topicadmin&action=moderate&fid=4&infloat=yes&nopost=yes">
                            <input type="hidden" name="formhash" value="844b80cc">
                            <input type="hidden" name="listextra" value="page%3D1">
                            <table summary="forum_4" cellspacing="0" cellpadding="0" id="threadlisttableid">

                            </table><!-- end of table "forum_G[fid]" branch 2/3 -->
                            <ul id="waterfall" class="ml waterfall cl" style="height: 1256px; width: 938px;"><li style="width: 227px; position: absolute; left: 0px; top: 0px;">
                                <div class="c cl">
                                    <a href="http://www.gtzs.com/thread-11271-1-1.html" onclick="atarget(this)" title="格堂西区分公司">
                                        <img src="./img_example_list_files/11271.jpg" alt="格堂西区分公司" width="203">
                                    </a>
                                </div>
                                <div class="auth cl">
                                    <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                        <em class="sum pin">置顶</em> <a href="http://www.gtzs.com/thread-11271-1-1.html" style="font-weight: bold;color: #EE1B2E;" onclick="atarget(this)" title="格堂西区分公司">格堂西区分公司</a>
                                    </h3>
                                    <cite class="xg1 y">
                                        回复: <a href="http://www.gtzs.com/thread-11271-1-1.html" title="13 回复">13</a>
                                    </cite>
                                    <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                            </li>
                                <li style="width: 227px; position: absolute; left: 237px; top: 0px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11792-1-1.html" onclick="atarget(this)" title="【格堂★阳光水岸16&#3665;&#1769;&#1769;.. 】回归自然悠闲、舒畅、自然的生活情趣">
                                            <img src="./img_example_list_files/11792.jpg" alt="【格堂★阳光水岸16&#3665;&#1769;&#1769;.. 】回归自然悠闲、舒畅、自然的生活情趣" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11792-1-1.html" onclick="atarget(this)" title="【格堂★阳光水岸16&#3665;&#1769;&#1769;.. 】回归自然悠闲、舒畅、自然的生活情趣">【格堂★阳光水岸16&#3665;&#1769;&#1769;.. 】回归自然悠闲、舒畅、自然的生活情趣</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11792-1-1.html" title="14 回复">14</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 474px; top: 0px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11788-1-1.html" onclick="atarget(this)" title="【格堂★公园三号15&#3665;&#1769;&#1769;.. 】简洁、实用的个性化空间">
                                            <img src="./img_example_list_files/11788.jpg" alt="【格堂★公园三号15&#3665;&#1769;&#1769;.. 】简洁、实用的个性化空间" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11788-1-1.html" onclick="atarget(this)" title="【格堂★公园三号15&#3665;&#1769;&#1769;.. 】简洁、实用的个性化空间">【格堂★公园三号15&#3665;&#1769;&#1769;.. 】简洁、实用的个性化空间</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11788-1-1.html" title="12 回复">12</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 711px; top: 0px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11782-1-1.html" onclick="atarget(this)" title="【格堂※阳光水岸7※】走进轻奢之路">
                                            <img src="./img_example_list_files/11782.jpg" alt="【格堂※阳光水岸7※】走进轻奢之路" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11782-1-1.html" onclick="atarget(this)" title="【格堂※阳光水岸7※】走进轻奢之路">【格堂※阳光水岸7※】走进轻奢之路</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11782-1-1.html" title="11 回复">11</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 0px; top: 314px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11661-1-1.html" onclick="atarget(this)" title="【格堂#中央郡3】新中式风儒雅三居">
                                            <img src="./img_example_list_files/11661.jpg" alt="【格堂#中央郡3】新中式风儒雅三居" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11661-1-1.html" onclick="atarget(this)" title="【格堂#中央郡3】新中式风儒雅三居">【格堂#中央郡3】新中式风儒雅三居</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11661-1-1.html" title="14 回复">14</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 237px; top: 314px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11763-1-1.html" onclick="atarget(this)" title="【格堂&amp;枫丹白露19#-1】乐活的生活态度">
                                            <img src="./img_example_list_files/11763.jpg" alt="【格堂&amp;枫丹白露19#-1】乐活的生活态度" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11763-1-1.html" onclick="atarget(this)" title="【格堂&amp;枫丹白露19#-1】乐活的生活态度">【格堂&amp;枫丹白露19#-1】乐活的生活态度</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11763-1-1.html" title="9 回复">9</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 474px; top: 314px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11752-1-1.html" onclick="atarget(this)" title="【格堂★维多利亚1&#3665;&#1769;&#1769;.. 】“褪尽浮华，还原本色”舒适美式风">
                                            <img src="./img_example_list_files/11752.jpg" alt="【格堂★维多利亚1&#3665;&#1769;&#1769;.. 】“褪尽浮华，还原本色”舒适美式风" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11752-1-1.html" onclick="atarget(this)" title="【格堂★维多利亚1&#3665;&#1769;&#1769;.. 】“褪尽浮华，还原本色”舒适美式风">【格堂★维多利亚1&#3665;&#1769;&#1769;.. 】“褪尽浮华，还原本色”舒适美式风</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11752-1-1.html" title="11 回复">11</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 711px; top: 314px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11749-1-1.html" onclick="atarget(this)" title="【格堂★枫丹白露22-4&#3665;&#1769;&#1769;.. 】色彩碰撞时尚风-现代美式">
                                            <img src="./img_example_list_files/11749.jpg" alt="【格堂★枫丹白露22-4&#3665;&#1769;&#1769;.. 】色彩碰撞时尚风-现代美式" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11749-1-1.html" onclick="atarget(this)" title="【格堂★枫丹白露22-4&#3665;&#1769;&#1769;.. 】色彩碰撞时尚风-现代美式">【格堂★枫丹白露22-4&#3665;&#1769;&#1769;.. 】色彩碰撞时尚风-现代美式</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11749-1-1.html" title="11 回复">11</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 0px; top: 628px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11736-1-1.html" onclick="atarget(this)" title="【格堂★格堂&#10084;金河湾11栋&#10084; 】美式，当艺术与实用不谋而合！">
                                            <img src="./img_example_list_files/11736.jpg" alt="【格堂★格堂&#10084;金河湾11栋&#10084; 】美式，当艺术与实用不谋而合！" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11736-1-1.html" onclick="atarget(this)" title="【格堂★格堂&#10084;金河湾11栋&#10084; 】美式，当艺术与实用不谋而合！">【格堂★格堂&#10084;金河湾11栋&#10084; 】美式，当艺术与实用不谋而合！</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11736-1-1.html" title="11 回复">11</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 237px; top: 628px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11748-1-1.html" onclick="atarget(this)" title="【格堂※金河湾17幢※】美式，精致、温暖、浪漫">
                                            <img src="./img_example_list_files/11748.jpg" alt="【格堂※金河湾17幢※】美式，精致、温暖、浪漫" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11748-1-1.html" onclick="atarget(this)" title="【格堂※金河湾17幢※】美式，精致、温暖、浪漫">【格堂※金河湾17幢※】美式，精致、温暖、浪漫</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11748-1-1.html" title="13 回复">13</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 474px; top: 628px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11740-1-1.html" onclick="atarget(this)" title="【格堂‖阳光水岸13#】格调堂皇，欧洲风韵">
                                            <img src="./img_example_list_files/11740.jpg" alt="【格堂‖阳光水岸13#】格调堂皇，欧洲风韵" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11740-1-1.html" onclick="atarget(this)" title="【格堂‖阳光水岸13#】格调堂皇，欧洲风韵">【格堂‖阳光水岸13#】格调堂皇，欧洲风韵</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11740-1-1.html" title="16 回复">16</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 711px; top: 628px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11735-1-1.html" onclick="atarget(this)" title="【格堂‖铂金府邸101#】简约是时尚的趋势">
                                            <img src="./img_example_list_files/11735.jpg" alt="【格堂‖铂金府邸101#】简约是时尚的趋势" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11735-1-1.html" onclick="atarget(this)" title="【格堂‖铂金府邸101#】简约是时尚的趋势">【格堂‖铂金府邸101#】简约是时尚的趋势</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11735-1-1.html" title="9 回复">9</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 0px; top: 942px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11466-1-1.html" onclick="atarget(this)" title="【天和家园】顶级英式洋房">
                                            <img src="./img_example_list_files/11466.jpg" alt="【天和家园】顶级英式洋房" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11466-1-1.html" onclick="atarget(this)" title="【天和家园】顶级英式洋房">【天和家园】顶级英式洋房</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11466-1-1.html" title="18 回复">18</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 237px; top: 942px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11664-1-1.html" onclick="atarget(this)" title="美式">
                                            <img src="./img_example_list_files/11664.jpg" alt="美式" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11664-1-1.html" onclick="atarget(this)" title="美式">美式</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11664-1-1.html" title="19 回复">19</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 474px; top: 942px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11685-1-1.html" onclick="atarget(this)" title="【格堂&amp;美林小镇16#】优雅传统的中美混搭">
                                            <img src="./img_example_list_files/11685.jpg" alt="【格堂&amp;美林小镇16#】优雅传统的中美混搭" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11685-1-1.html" onclick="atarget(this)" title="【格堂&amp;美林小镇16#】优雅传统的中美混搭">【格堂&amp;美林小镇16#】优雅传统的中美混搭</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11685-1-1.html" title="13 回复">13</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                                <li style="width: 227px; position: absolute; left: 711px; top: 942px;">
                                    <div class="c cl">
                                        <a href="http://www.gtzs.com/thread-11662-1-1.html" onclick="atarget(this)" title="【格堂#金河湾20】清新明媚 美式田园">
                                            <img src="./img_example_list_files/11662.jpg" alt="【格堂#金河湾20】清新明媚 美式田园" width="203">
                                        </a>
                                    </div>
                                    <div class="auth cl">
                                        <h3 class="xw0" style="line-height: 22px; height: 38px; overflow: hidden;">
                                            <a href="http://www.gtzs.com/thread-11662-1-1.html" onclick="atarget(this)" title="【格堂#金河湾20】清新明媚 美式田园">【格堂#金河湾20】清新明媚 美式田园</a>
                                        </h3>
                                        <cite class="xg1 y">
                                            回复: <a href="http://www.gtzs.com/thread-11662-1-1.html" title="11 回复">11</a>
                                        </cite>
                                        <a href="http://www.gtzs.com/space-uid-11.html">格堂设计</a></div>
                                </li>
                            </ul>
                            <div id="tmppic" style="display: none;"></div>
                            <script src="./img_example_list_files/redef.js" type="text/javascript"></script>
                            <script type="text/javascript" reload="1">
                                var wf = {};
                                _attachEvent(window, "load", function () {
                                    if($("waterfall")) {
                                        wf = waterfall();
                                    }
                                    var page = 1 + 1,
                                            maxpage = Math.min(1 + 10,9 + 1),
                                            stopload = 0,
                                            scrolltimer = null,
                                            tmpelems = [],
                                            tmpimgs = [],
                                            markloaded = [],
                                            imgsloaded = 0,
                                            loadready = 0,
                                            showready = 1,
                                            nxtpgurl = 'forum.php?mod=forumdisplay&fid=4&filter=&orderby=lastpost&page=',
                                            wfloading = "<img src=\"template/dean_getang/img/loading.gif\" alt=\"\" width=\"16\" height=\"16\" class=\"vm\" /> 加载中...",
                                            pgbtn = $("pgbtn").getElementsByTagName("a")[0];
                                    function loadmore() {
                                        var url = nxtpgurl + page + '&t=' + parseInt((+new Date()/1000)/(Math.random()*1000));
                                        var x = new Ajax("HTML");
                                        x.get(url, function (s) {
                                            s = s.replace(/\n|\r/g, "");
                                            if(s.indexOf("id=\"pgbtn\"") == -1) {
                                                $("pgbtn").style.display = "none";
                                                stopload++;
                                                window.onscroll = null;
                                            }
                                            s = s.substring(s.indexOf("<ul id=\"waterfall\""), s.indexOf("<div id=\"tmppic\""));
                                            s = s.replace("id=\"waterfall\"", "");
                                            $("tmppic").innerHTML = s;
                                            loadready = 1;
                                        });
                                    }
                                    window.onscroll = function () {
                                        if(scrolltimer == null) {
                                            scrolltimer = setTimeout(function () {
                                                try {
                                                    if(page < maxpage && stopload < 2 && showready && ((document.documentElement.scrollTop || document.body.scrollTop) + document.documentElement.clientHeight + 500) >= document.documentElement.scrollHeight) {
                                                        pgbtn.innerHTML = wfloading;
                                                        loadready = 0;
                                                        showready = 0;
                                                        loadmore();
                                                        tmpelems = $("tmppic").getElementsByTagName("li");
                                                        var waitingtimer = setInterval(function () {
                                                            stopload >= 2 && clearInterval(waitingtimer);
                                                            if(loadready && stopload < 2) {
                                                                if(!tmpelems.length) {
                                                                    page++;
                                                                    pgbtn.href = nxtpgurl + Math.min(page, 9);
                                                                    pgbtn.innerHTML = "下一页 &raquo;";
                                                                    showready = 1;
                                                                    clearInterval(waitingtimer);
                                                                }
                                                                for(var i = 0, j = tmpelems.length; i < j; i++) {
                                                                    if(tmpelems[i]) {
                                                                        tmpimgs = tmpelems[i].getElementsByTagName("img");
                                                                        imgsloaded = 0;
                                                                        for(var m = 0, n = tmpimgs.length; m < n; m++) {
                                                                            tmpimgs[m].onerror = function () {
                                                                                this.style.display = "none";
                                                                            };
                                                                            markloaded[m] = tmpimgs[m].complete ? 1 : 0;
                                                                            imgsloaded += markloaded[m];
                                                                        }
                                                                        if(imgsloaded == tmpimgs.length) {
                                                                            $("waterfall").appendChild(tmpelems[i]);
                                                                            wf = waterfall({
                                                                                "index": wf.index,
                                                                                "totalwidth": wf.totalwidth,
                                                                                "totalheight": wf.totalheight,
                                                                                "columnsheight": wf.columnsheight
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }, 40);
                                                    }
                                                } catch(e) {}
                                                scrolltimer = null;
                                            }, 320);
                                        }
                                    };
                                });
                            </script>
                        </form>
                    </div>
                </div>
                <div id="filter_special_menu" class="p_pop" style="display:none" change="location.href=&#39;forum.php?mod=forumdisplay&amp;fid=4&amp;filter=&#39;+$(&#39;filter_special&#39;).value">
                    <ul>
                        <li><a href="./img_example_list_files/衢州装修案例-格堂装修案例 - 衢州格堂装饰.html">全部主题</a></li>
                    </ul>
                </div>
                <div id="filter_reward_menu" class="p_pop" style="display:none" change="forum.php?mod=forumdisplay&amp;fid=4&amp;filter=specialtype&amp;specialtype=reward&amp;rewardtype=&#39;+$(&#39;filter_reward&#39;).value">
                    <ul>
                        <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=specialtype&specialtype=reward">全部悬赏</a></li>
                    </ul>
                </div>
                <div id="filter_dateline_menu" class="p_pop" style="display:none">
                    <ul class="pop_moremenu">
                        <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=author&orderby=dateline">发帖时间</a></li>
                        <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=reply&orderby=replies">回复/查看</a></li>
                        <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=reply&orderby=views">查看</a></li>
                    </ul>
                </div>
                <div id="filter_orderby_menu" class="p_pop" style="display:none">
                    <ul>
                        <li><a href="./img_example_list_files/衢州装修案例-格堂装修案例 - 衢州格堂装饰.html">默认排序</a></li>
                        <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=author&orderby=dateline">发帖时间</a></li>
                        <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=reply&orderby=replies">回复/查看</a></li>
                        <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=reply&orderby=views">查看</a></li>
                        <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=lastpost&orderby=lastpost">最后发表</a></li>
                        <li><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&fid=4&filter=heat&orderby=heats">热门</a></li>
                    </ul>
                </div>
                <!--下一页自动加载 <div id="pgbtn" class="pgbtn"><a href="http://www.gtzs.com/forum.php?mod=forumdisplay&amp;fid=4&amp;filter=&amp;orderby=lastpost&amp;&amp;page=2" hidefocus="true">下一页 &raquo;</a></div> -->
                <div class="bm bw0 pgs cl">
                    <span id="fd_page_bottom"><div class="pg"><strong>1</strong><a href="http://www.gtzs.com/forum-4-2.html">2</a><a href="http://www.gtzs.com/forum-4-3.html">3</a><a href="http://www.gtzs.com/forum-4-4.html">4</a><a href="http://www.gtzs.com/forum-4-5.html">5</a><a href="http://www.gtzs.com/forum-4-6.html">6</a><a href="http://www.gtzs.com/forum-4-7.html">7</a><a href="http://www.gtzs.com/forum-4-8.html">8</a><a href="http://www.gtzs.com/forum-4-9.html">9</a><label><input type="text" name="custompage" class="px" size="2" title="输入页码，按回车快速跳转" value="1" onkeydown="if(event.keyCode==13) {window.location=&#39;forum.php?mod=forumdisplay&amp;fid=4&amp;page=&#39;+this.value;; doane(event);}"><span title="共 9 页"> / 9 页</span></label><a href="http://www.gtzs.com/forum-4-2.html" class="nxt">下一页</a></div></span>
                    <span id="visitedforumstmp" onmouseover="$(&#39;visitedforums&#39;).id = &#39;visitedforumstmp&#39;;this.id = &#39;visitedforums&#39;;showMenu({&#39;ctrlid&#39;:this.id,&#39;pos&#39;:&#39;21&#39;})" class="pgb y"><a href="http://www.gtzs.com/forum.php">返&nbsp;回</a></span>
                    <a href="javascript:;" id="newspecialtmp" onmouseover="$(&#39;newspecial&#39;).id = &#39;newspecialtmp&#39;;this.id = &#39;newspecial&#39;;showMenu({&#39;ctrlid&#39;:this.id})" onclick="location.href=&#39;forum.php?mod=post&amp;action=newthread&amp;fid=4&#39;;return false;" title="发新帖"><img src="./img_example_list_files/pn_post.png" alt="发新帖"></a></div><!--[diy=diyfastposttop]--><div id="diyfastposttop" class="area"></div><!--[/diy]-->
                <!--[diy=diyforumdisplaybottom]--><div id="diyforumdisplaybottom" class="area"></div><!--[/diy]-->
            </div>
        </div>
    </div>
    <div id="visitedforums_menu" class="p_pop blk cl" style="position: absolute; z-index: 301; left: 828.5px; top: 299px; display: none;" initialized="true">
        <table cellspacing="0" cellpadding="0">
            <tbody><tr>
                <td id="v_forums">
                    <h3 class="mbn pbn bbda xg1">浏览过的版块</h3>
                    <ul class="xl xl1">
                        <li><a href="http://www.gtzs.com/forum-2-1.html" class="">装修日记</a></li><li><a href="http://www.gtzs.com/forum-3-1.html">工地巡检</a></li></ul>
                </td>
            </tr>
            </tbody></table>
    </div>
    <script type="text/javascript">document.onkeyup = function(e){keyPageScroll(e, 0, 1, 'forum.php?mod=forumdisplay&fid=4&filter=&orderby=lastpost&', 1);}</script>
    <div class="wp mtn">
        <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
    </div>
    <script>fixed_top_nv();</script>	</div>


<script type="text/javascript">
    var urlRetry = SITEURL + '/plugin.php?id=security:job';
    var ajaxRetry = new Ajax();
    ajaxRetry.post(urlRetry, 'formhash=844b80cc', function(s){});
</script>    <style type="text/css">
    .deanftbottom{ padding-top:20px; border-top:1px solid #ddd; font-size:12px; color:#333; text-align:center; width:1200px; margin:30px auto; margin-bottom:0; padding-bottom:30px;}

</style>
{template common/footer2}